@import "../../styles/index";

.base {
  border-radius: 50%;
  background-color: $color-chinese-black;
  margin: 0 1rem 0 0;
  width: 3rem;

  @include media-from(xs) {
    margin: 0 2rem 0 0;
    width: 5rem;
  }

  @include media-from(md) {
    width: 3.5rem;
  }
}
